<% layout('../views/layouts/boilerplate') %>

<div class="nk-block">
<div class="card card-bordered">
<div class="card-aside-wrap">
<div class="card-inner card-inner-lg">
    <div class="nk-block-head nk-block-head-lg">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h4 class="nk-block-title">Change Password</h4>
                <div class="nk-block-des">
                    <p>Make sure to pick a strong password.</p>
                    

                </div>
            </div>
            <div class="nk-block-head-content align-self-start d-lg-none">
                <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="nk-data data-list">
            <form id="change-password-form" method="post" action="/identity/changePassword">
                <div class="form-group">
                    <label class="form-label" for="Input_OldPassword">Current password</label>
                    <input required class="form-control" type="password" data-val="true" data-val-required="The Current password field is required." id="Input_OldPassword" name="OldPassword"/>
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.OldPassword" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="Input_NewPassword">New password</label>
                    <input required class="form-control" type="password" data-val="true" data-val-length="The New password must be at least 6 and at max 100 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The New password field is required." id="Input_NewPassword" maxlength="100" name="NewPassword" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.NewPassword" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="Input_ConfirmPassword">Confirm new password</label>
                    <input required class="form-control" type="password" data-val="true" data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" id="Input_ConfirmPassword" name="Input[ConfirmPassword]" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update password</button>
                </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HWjRk18mdZDmPDFZnyjOwOAZ8qNeq-asGSKd2IEvOhWOgAl7G8SLP1wL779IL5TTwlJgQNqF2hGYxwua-A5tohwFJHUwNr3_6Y-6n5dVWBg5l37nlNuhbiu0xCzTwEUYt33pW2MZE8mfwMj7NiKdqM1S6WFZcYgUhFoyQHIeOC1nJAyvKmBPPWGV_IMzlZaVg" /></form>
        </div><!-- data-list -->
    </div><!-- .nk-block -->
</div>
<div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
    <div class="card-inner-group" data-simplebar>
        <div class="card-inner">
            <div class="user-card">
                <div class="user-avatar bg-primary">
                        <em class="icon ni ni-user-alt"></em>
                </div>
                <div class="user-info">
                    <span class="lead-text"><%= currentUser.firstName %> <%= currentUser.lastName %> </span>
                    <span class="sub-text"><%= currentUser.email %></span>
                </div>
            </div><!-- .user-card -->
        </div><!-- .card-inner -->
        <!--<div class="card-inner">
            <div class="user-account-info py-0">
                <h6 class="overline-title-alt">Nio Wallet Account</h6>
                <div class="user-balance">12.395769 <small class="currency currency-btc">BTC</small></div>
                <div class="user-balance-sub">Locked <span>0.344939 <span class="currency currency-btc">BTC</span></span></div>
            </div>
        </div>-->
        <!-- .card-inner -->
        <div class="card-inner p-0">
            <ul class="link-list-menu">
                <li><a href="/Identity/Manage"><em class="icon ni ni-user-fill-c"></em><span>Personal Infomation</span></a></li>
                <li><a class="active" href="/Identity/ChangePassword"><em class="icon ni ni-shield-star-fill"></em><span>Password Change</span></a></li>
            </ul>
        </div><!-- .card-inner -->
    </div><!-- .card-inner-group -->
</div><!-- card-aside -->
</div><!-- .card-aside-wrap -->
</div><!-- .card -->
</div><!-- .nk-block -->